venv/
03_nlp/
04_segmentation/
05_gans/
06_transformers/
07_projects/
08_utils/

.DS_Store

**/models/**
**/data/**
**/logs/**
**/wandb/**

**/augmentation_examples/**
**/dummy_images/**
**/checkpoints/**
**/experiments/**
**/plots/**
